<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentRegister</servlet-name>
        <servlet-class>RegisterAndroid.StudentRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyRegister</servlet-name>
        <servlet-class>RegisterAndroid.FacultyRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>RegisterAndroid.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadData</servlet-name>
        <servlet-class>Upload.UploadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlacementData</servlet-name>
        <servlet-class>Placement.PlacementData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentRegister</servlet-name>
        <url-pattern>/StudentRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyRegister</servlet-name>
        <url-pattern>/FacultyRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadData</servlet-name>
        <url-pattern>/UploadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlacementData</servlet-name>
        <url-pattern>/PlacementData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
