<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentRegister</servlet-name>
        <servlet-class>RegisterAndroid.StudentRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyRegister</servlet-name>
        <servlet-class>RegisterAndroid.FacultyRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>RegisterAndroid.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadData</servlet-name>
        <servlet-class>Upload.UploadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlacementData</servlet-name>
        <servlet-class>Placement.PlacementData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminlogin</servlet-name>
        <servlet-class>Admin.Adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Placementadmin</servlet-name>
        <servlet-class>Admin.Placementadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacUploadData</servlet-name>
        <servlet-class>Upload.FacUploadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Functionality</servlet-name>
        <servlet-class>Admin.Functionality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updatefaculty</servlet-name>
        <servlet-class>Admin.Updatefaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletefaculty</servlet-name>
        <servlet-class>Admin.Deletefaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addstudent</servlet-name>
        <servlet-class>Admin.Addstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updatestudent</servlet-name>
        <servlet-class>Admin.Updatestudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>Admin.View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInfoFrom</servlet-name>
        <servlet-class>Upload.GetInfoFrom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNotesDetails</servlet-name>
        <servlet-class>Download.GetNotesDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacMarks</servlet-name>
        <servlet-class>Marks.FacMarks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudDetails</servlet-name>
        <servlet-class>Marks.GetStudDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadNotes</servlet-name>
        <servlet-class>Download.DownloadNotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aboutfac</servlet-name>
        <servlet-class>About.Aboutfac</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aboutstud</servlet-name>
        <servlet-class>About.Aboutstud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stud_aggregate</servlet-name>
        <servlet-class>Aggregate.stud_aggregate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Receive_update</servlet-name>
        <servlet-class>Aggregate.Receive_update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentRegister</servlet-name>
        <url-pattern>/StudentRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyRegister</servlet-name>
        <url-pattern>/FacultyRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadData</servlet-name>
        <url-pattern>/UploadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlacementData</servlet-name>
        <url-pattern>/PlacementData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adminlogin</servlet-name>
        <url-pattern>/Adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Placementadmin</servlet-name>
        <url-pattern>/Placementadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacUploadData</servlet-name>
        <url-pattern>/FacUploadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Functionality</servlet-name>
        <url-pattern>/Functionality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updatefaculty</servlet-name>
        <url-pattern>/Updatefaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletefaculty</servlet-name>
        <url-pattern>/Deletefaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addstudent</servlet-name>
        <url-pattern>/Addstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updatestudent</servlet-name>
        <url-pattern>/Updatestudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInfoFrom</servlet-name>
        <url-pattern>/GetInfoFrom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNotesDetails</servlet-name>
        <url-pattern>/GetNotesDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacMarks</servlet-name>
        <url-pattern>/FacMarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudDetails</servlet-name>
        <url-pattern>/GetStudDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadNotes</servlet-name>
        <url-pattern>/DownloadNotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aboutfac</servlet-name>
        <url-pattern>/Aboutfac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aboutstud</servlet-name>
        <url-pattern>/Aboutstud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stud_aggregate</servlet-name>
        <url-pattern>/stud_aggregate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Receive_update</servlet-name>
        <url-pattern>/Receive_update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
