<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saipr.final_year_proj">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CampusBridge"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginMainActivity" />
        <activity android:name=".RegisterMainActivity" />
        <activity android:name=".StudentRegisterActivity" />
        <activity android:name=".FacultyRegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".StudentDashboardActivity"
            android:label="@string/title_activity_student_dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlacementActivity" />
        <activity
            android:name=".FacultyDashboardActivity"
            android:label="@string/title_activity_faculty_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FacNotesActivity" />
        <activity android:name=".FacMarksActivity" />
        <activity android:name=".AboutStudActivity" />
        <activity android:name=".AboutFacActivity" />
        <activity android:name=".StudNotesActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".StudentAggregateActivity"></activity>
    </application>

</manifest>